#root {
  height: 800px;
  width: 400px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@font-face {
  font-family: 'MorePerfectDOSVGA';
  src: url('./fonts/MorePerfectDOSVGA.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.safe {
  width: 350px;
  height: 600px;
  margin: 20px auto;
  padding: 10px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.safe-door {
  background-color: #59767e;
  border: 1px solid #666;
  border-radius: 10px;
  text-align: center;
  margin: 30px 30px;
  padding-bottom: 20px;
  box-shadow: inset 0 0 10px #d2e2e2;
}

.safe-content {
  width: 180px;
  height: 45px;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  background-color: #222;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  border-radius: 5px;
}

.codedmessage {
  margin: 10px;
  padding: 12px;
  display: flex;
  justify-content: center;
  text-align: justify;
  line-height: 1;
  font-family: 'MorePerfectDOSVGA', sans-serif;
  background-color: #0d18db;
  border: 3px solid #4b4949;
  box-shadow: 0 0 5px #d2e2e2;
  border-radius: 5%;
}

.container {
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-container {
  margin-top: 10px;
  margin-bottom: -15px;
  display: flex;
  justify-content: center;
  padding: 10px 10px;
}
  
.button {
  width: 190px;
  background-image: radial-gradient(circle, rgb(223, 226, 226), #59767e);
  border: 10px rgb(19, 18, 18);
  color: rgb(39, 38, 38);
  padding: 10px 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.1px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  overflow: hidden;
  white-space: nowrap;
  text-shadow: 0 0 10px rgba(102, 112, 100, 0.5);
  box-shadow: 0 10px #59767e;

}

.button:hover {
	box-shadow: 0 10px #59767e;
	text-shadow: 1px 1px 8px rgb(58, 57, 57);
}

.button:active {
	box-shadow: 0 2px #59767e;
	transform: translateY(8px);
	transition: box-shadow 0.1s ease;
}